<a href="https://colab.research.google.com/github/shakin-shahria/Python_programming/blob/main/Ai_lab_class_1_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")
print ("Fardin missing you")

Hello world
Fardin missing you

In [ ]:
student_ID = 11201055 
student_name = "Fardin"
student_cgpa =3.99
is_eligible = True
#allow multiple line 
message= """Welcome 
not there"""

In [ ]:
#values
print(student_ID)
print(student_name)
#print data type
print(type(student_ID),type(student_name))
print (message)

11201055
Fardin
<class 'int'> <class 'str'>
Welcome
not there

Variable

In [ ]:
x=3
y=6.7
z= 3 + 2j

In [ ]:
print((z.real))
print(z)

3.0
(3+2j)

In [ ]:
#input

a = int (input("Enter a number : "))

Enter a number : 56

In [ ]:
z = a + 10
# concatenate
print(z)

66

In [ ]:
#string
message = "python is a snake"
#message lenght
print (len(message))
print(message[-1])  # negative index can access reverse
print(message[0:8]) #Printing a portion
print(message[:9]) 
print(message.find("py"))#finfind the text ... returs index number ...-1 if not present
print(message.replace("p","k")) #replaceing

17
e
python i
python is
0
kython is a snake

In [ ]:
#operator
#1. arithmatic
x= 6
y= 3
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)
#2.logical

print (2<5 and 2 ==5)
print (2<5 and not 2 ==5)


#3.relational
print(2 == 5)
print(2< 5)

#shorthand

x= x + 10
x +=10

9
3
18
2.0
0
216
2
False

In [ ]:
a = int (input("Enter a  number: "))

Enter a  number: 5656

In [ ]:
#conditional statement
gender = 'f' or gender == 'f'
if gender == 'f':
  print("welcome")
elif gender == 'm'  
else:
    print("sorry")

welcome

In [ ]:
for i in range(5): # range (start, end , stepsize)
  print(f"i:{i}")

i:0
i:1
i:2
i:3
i:4

In [ ]:
for i in range (1,5,1) :
  
   print(" "*(6-i)"+* n-i" *i)

SyntaxError: ignored